<div class="ekart-product--container">
<!--  <img [src]= "product.pImage">-->
<!--  <p>Name : {{product.name}}</p>-->
<!--  <p>Price : {{'$' + product.price}}</p>-->
<!--  <p>Color : {{product.color}}</p>-->
<!--  <p>Discounted Price : {{'$' + getDiscountedPrice().toFixed(2)}}</p>-->
<!--  <p>{{product.inStock > 0 ? 'only' + ' ' + product.inStock + ' ' +  'items left' : 'Not in Stock'}}</p>-->
<!--  <button (click)="decrementCartValue()">-</button>-->
<!--  <span>{{addToCart}}</span>-->
<!--  <button (click)="incrementCartValue()">+</button>-->
  <!--disabled , hidden , checked properties not useful when string Interpolation.So that properties we use Property Binding-->
<!--  <input (input)="onNameChange($event)">-->
<!--  <p>Name : {{name}}</p>-->
  <app-search></app-search>
<!--  <div *ngFor="let item of listOfStrings">-->
<!--    <p>Current Element of array is {{item}}</p>-->
<!--  </div>-->
</div>
